* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none; }

body{
    background-color: #293241;
    padding-inline: 5rem;
    color: #E0FBFC;
    
}

h1{
    color: #EE6C4D;
    font-size: 5rem;
    text-shadow: 10px 10px 10px black;
    margin-bottom: 2rem;
}
.logo{
    height: 50px;
}

a.nav-link {
    color: #E0FBFC;
}

.planes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.planes__items {
    display: flex;
    justify-content: center;
}

.planes__uno {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planes__niveles {
    background-color: #4C5769;
    border-radius: 2rem;
    padding: 2rem;
    margin-inline: 1rem;
     justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    position: relative;
    filter: drop-shadow(12px 10px 6px rgba(0, 0, 0, 0.7));
    transition: all 0.5s;
}

.planes__niveles.aos-init.aos-animate:hover {
    transform: scale(1.02);
}

ul.planes__lista {
    margin-top: 1.5rem;    
    list-style: none;
    padding-left: 0!important;
}
ul.planes__lista li{
    border-bottom: 1px #293241 solid;
}


h3{
    padding: 1.5rem 2rem;
    border-bottom: #EE6C4D 2px solid;
}

.planes__boton {
    
    position: relative;
    bottom: -47px;
}

button.planes__boton {
    background-color: #293241;
    border-radius: 2rem;
    width: 75%;
    height: 7vh;
    box-shadow: 0 6px #EE6C4D;
    border-bottom: none;
    border-bottom-style: none;
    color: #E0FBFC;
    transition: all 1s;
    border: none;
    width: 20vw;
}


button.planes__boton:hover{
    transform: scale(1.1);
    background-color: #EE6C4D;
    color: black;
    box-shadow: none;
}

.planes__lista li {
    margin-top: 0.7rem;
}
.scroll-img {
    display: none;
    justify-content: center;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    
  }
  .scroll-img img {
    height: 3rem;
    margin-bottom: 4rem;
    transition: all 0.5s;
  }

  .shake-vertical {
    -webkit-animation: shake-vertical 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s infinite both;
    animation: shake-vertical 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s infinite both;
  }
  .shake-vertical:hover {
    -webkit-animation: none;
    animation: none;
  }

  @keyframes shake-vertical {

    0%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    80% {
      -webkit-transform: translateY(6.4px);
      transform: translateY(6.4px);
    }
  
    90% {
      -webkit-transform: translateY(-6.4px);
      transform: translateY(-6.4px);
    }
  }
@media screen and (max-width: 768px){
    .planes__niveles {
        padding-inline: 0.5rem;
    }
    h3 {
        padding: .5rem 1rem;
        border-bottom: #EE6C4D 2px solid;
    }
    ul.planes__lista {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 500px) {
    body{
        padding-inline: 0.5rem;
    }
    .scroll-img {
        display: flex;
    }

    .planes__items {
        
        flex-direction: column;
    }
    .planes__niveles {
        margin-bottom: 3rem;
        padding-inline: 1rem;
        height: auto;
    }
}